body {
  font-family: sans-serif;
  background-color: #f6f6f6;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

.logo {
  width: 150px;
  margin-bottom: 20px;
}

h1, h2 {
  color: #4D148C;
}

.group {
  margin-bottom: 20px;
}

.input-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input-row input {
  flex: 1;
  padding: 8px;
  font-size: 16px;
  margin-right: 10px;
}

.input-row button {
  padding: 8px;
  background-color: #4D148C;
  color: white;
  border: none;
  cursor: pointer;
}

.input-row button:hover {
  background-color: #2e0b58;
}
